AZURE_SUBSCRIPTION_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

# State Backend
TF_STATE_BACKEND_TYPE=
TF_STATE_BACKEND_CONNECTION=
TF_STATE_CONTAINER=
TF_STATE_SCAN_ALL=true

# Scope (optional)
DRIFT_TYPES=unmanaged,orphaned,config